/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-background: url(../images/cover-image-light.png);
  --color-background: #fff1f7;
  --cover-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --nav-color: #353430;
  --header-post-color: #353430;
  --header-section-color: #353430;
  --content-text-color: #353430;
  --decoration-display: none;
  --nav-hover: rgba(53, 52, 48, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-background: url(../images/cover-image-light.png);
    --color-background: #fff1f7;
    --cover-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --nav-color: #353430;
    --header-post-color: #353430;
    --header-section-color: #353430;
    --content-text-color: #353430;
    --decoration-display: none;
    --nav-hover: rgba(53, 52, 48, 0.5);
  }
}
