/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  font-family: "IBM Plex mono", sans-serif;
  background-image: var(--page-background);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--color-background);
}

/*Обшие стили*/

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  left: calc(100% - 35px);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    left: calc(100% - 45px);
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

@media (width >= 768px) {
  .decorated-zone::after {
    bottom: 20px;
  }
}

.main-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 84%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--cover-color);
}

@media (width >=768px) {
  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
/*общие классы для стилизации заголовков в секции*/
.section {
  margin-block-end: 50px;
}

@media (width >=768px) {
  .section {
    margin-block-end: 80px;
  }
}

.section-title {
  color: var(--header-section-color);
  font-size: var(--header-fs);
  font-weight: 700;
  line-height: 130%;
  margin-block-end: 18.5px;
}

.content-block:not(:last-child) {
  margin-block-end: 20px;
}
.content-title {
  color: var(--header-post-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--header-fs);
  line-height: 130%;
  margin-block-end: 10px;
}

.content-title.content-title--weight-normal {
  font-weight: 400;
}

.body-text {
  color: var(--content-text-color);
  font-weight: 400;
  font-size: var(--main-fs);
  line-height: 130%;
}

.body-text:not(:last-child) {
  margin-block-end: 10px;
}

.accent-link {
  text-shadow: 3px 2px 0 var(--accent-color);
  text-decoration: none;
}

.accent-link:hover {
  border-block-end: 1px solid currentColor;
}

.accent-link:focus {
  outline: none;
}

.accent-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

/*Header*/

.header {
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 41px;
  padding-inline: 10px;
  padding-block: 10px;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    margin-block-end: 60px;
    padding-inline: 20px;
    padding-block: 20px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }
}

.header__badge {
  display: var(--decoration-display);
  position: absolute;
  left: calc(100% - 70px);
  padding-block-start: 1px;
  font-size: var(--main-fs);
  line-height: 139%;
  color: var(--nav-color);
}

@media (width >= 768px) {
  .header__badge {
    left: calc(100% - 80px);
  }
}

.header__badge::after {
  content: "";
  display: var(--decoration-display);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--nav-color);
  border-radius: 50%;
  margin-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--nav-color);
}

.header__theme-menu {
  padding-block-start: 65px;
  margin-block-end: 65px;
}

@media (width >= 768px) {
  .header__theme-menu {
    padding-block-start: 172px;
    margin-block-end: 174px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-block-start: 0;
    margin-block-end: 273px;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: 1fr;
    justify-content: center;
  }
}

.header__theme-menu-item {
  justify-self: end;
}

.header__theme-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--main-fs);
  line-height: 1;
  padding-inline: 13px;
  text-transform: lowercase;
  color: var(--nav-color);
  background-color: transparent;
  border: none;
  padding-top: 2px;
  padding-bottom: 4px;
  min-height: 26px;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  border: 1px solid var(--nav-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  margin-block-end: 52px;
}

@media (width >= 768px) {
  .header__title {
    margin-inline-start: -20px;
    margin-block-end: 160px;
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-block-end: 113px;
  }
}

.header__description {
  background-color: var(--accent-color);
}

.header__description p {
  color: var(--header-post-color);
  font-weight: 700;
  font-size: var(--main-fs);
  line-height: 130%;
}

@media (width >= 768px) {
  .header__body {
    display: grid;
  }

  .header__description {
    max-width: 365px;
    justify-self: end;
  }
}

@media (width >= 1024px) {
  .header__description {
    max-width: 491px;
  }
}

/*main*/

main {
  padding-inline: 10px;
}

@media (width >= 768px) {
  main {
    padding-inline: 20px;
  }
}

/*section posts-layout*/

@media (width >= 768px) {
  .posts-layout {
    display: grid;
    gap: 50px;
    grid-template-columns: 206px 1fr;
  }
}

@media (width >= 1024px) {
  .posts-layout {
    gap: 20px;
    grid-template-columns: 315px 1fr;
  }
}
/*section post-cards*/

@media (width >= 768px) {
  .posts-cards__title {
    line-height: 134%;
    max-inline-size: 136px;
  }
}

@media (width >= 1024px) {
  .posts-cards__title {
    max-inline-size: 305px;
  }

  .posts-cards__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    gap: 20px;
  }
}
/*section advice*/

@media (width >= 768px) {
  .advice-layout {
    display: grid;
    gap: 20px;
    grid-template-columns: 236px 1fr;
  }
}

@media (width >= 1024px) {
  .advice-layout {
    grid-template-columns: 315px 1fr;
  }
}
/*section images*/

.images {
  margin-block-end: 42px;
}

.images__list {
  display: grid;
  gap: 10px;
}

.image__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .images {
    margin-block-end: 60px;
  }
  .images__title {
    margin-block-end: 20px;
  }

  .images__list {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .image__sunset {
    grid-column: 1/3;
  }

  .image__ice-cream {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .image__tape {
    grid-row: 2/4;
  }

  .image__books {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .image__street {
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .images__list {
    grid-template-columns: repeat(3, minmax(315px, 1fr));
    grid-template-rows: 260px 315px 433px;
  }
}

/*footer*/

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  padding-inline: 10px;
  padding-block: 10px;
}

.footer__content {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width >= 768px) {
  .footer {
    min-block-size: 1024px;
    padding-inline: 20px;
    padding-block: 20px;
  }
}

@media (width >= 1024px) {
  .footer {
    min-block-size: 768px;
  }
}
