/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--page-background);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--color-background);
  padding-inline: 10px;
  padding-block: 10px;
}
@media (width >=768px) {
  .page {
    padding-inline: 20px;
    padding-block: 20px;
  }
}
/*Обшие стили*/

.section-title {
  color: var(--header-section-color);
  font-size: var(--header-fs);
  font-weight: 700;
  line-height: 130%;
}

.post__title {
  color: var(--header-post-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: var(--header-fs);
  line-height: 130%;
  margin-block-end: 10px;
}
.post__title.post__title--weight-normal {
  font-weight: 400;
}

.post__text {
  color: var(--content-text-color);
  font-weight: 400;
  font-size: var(--main-fs);
  line-height: 130%;
}

.post__link {
  text-shadow: 3px 2px 0px var(--accent-color);
  text-decoration: none;
}

.post__link:hover {
  border-block-end: 1px solid currentColor;
}

.post__link:focus {
  outline: none;
}

.post__link:focus-visible {
  border: 1px solid currentColor;
  padding-inline-end: 3px;
}

/*Header*/
.header {
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 31px;
}
@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    margin-block-end: 40px;
  }
}
@media (width >= 1024px) {
  .header {
    min-block-size: 758px;
  }
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  left: calc(100% - 25px);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 20px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
}

@media (width >= 768px) {
  .decorated-zone::after {
    bottom: 40px;
  }
}

.header__badge {
  display: var(--decoration-display);
  position: absolute;
  left: calc(100% - 60px);
  padding-block-start: 1px;
  font-size: var(--main-fs);
  line-height: 139%;
  color: var(--nav-color);
}

.header__badge::after {
  content: "";
  display: var(--decoration-display);
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  background-color: var(--nav-color);
  border-radius: 50%;
  margin-inline-start: 10px;
  box-shadow: 0 0 4px 2px var(--nav-color);
}

.header__theme-menu {
  padding-block-start: 65px;
  margin-block-end: 65px;
}
@media (width >= 768px) {
  .header__theme-menu {
    padding-block-start: 172px;
    margin-block-end: 174px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    padding-block-start: 0;
    margin-block-end: 273px;
  }
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 10px;
  }
}

.header__theme-menu-item {
  justify-self: end;
}

.header__theme-menu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--main-fs);
  line-height: 1;
  padding-inline: 13px;
  text-transform: lowercase;
  color: var(--nav-color);
  background-color: transparent;
  border: none;
  padding-top: 2px;
  padding-bottom: 4px;
  min-height: 26px;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover);
}
.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 84%;
  text-shadow: 4px 4px 0px var(--accent-color);
  color: var(--cover-color);
  margin-block-end: 52px;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
    margin-block-end: 160px;
  }
}

@media (width >= 1024px) {
  .header__title {
    margin-block-end: 113px;
  }
}

.header__description {
  background-color: var(--accent-color);
}

.header__description p {
  color: var(--header-post-color);
  font-weight: 700;
  font-size: var(--main-fs);
  line-height: 130%;
}

@media (width >= 768px) {
  .header__body {
    display: grid;
  }

  .header__description {
    max-width: 365px;
    justify-self: end;
  }
}

@media (width >= 1024px) {
  .header__description {
    max-width: 491px;
  }
}

/*main*/
/*section posts-layout*/
.posts-layout {
  margin-block-end: 50px;
}

.posts-layout__title {
  margin-block-end: 19px;
}

.posts-layout__post {
  margin-block-end: 20px;
}

@media (width >= 768px) {
  .posts-layout {
    display: grid;
    gap: 50px;
    grid-template-columns: 206px 1fr;
    margin-block-end: 58px;
  }
}

@media (width >= 1024px) {
  .posts-layout {
    gap: 20px;
    grid-template-columns: 315px 1fr;
    margin-block-end: 60px;
  }
}
/*section post-cards*/
.posts-cards {
  margin-block-end: 50px;
}
.posts-cards__title {
  padding-block-end: 20px;
}
.posts-cards__card {
  margin-block-end: 20px;
}

@media (width >= 768px) {
  .posts-cards {
    margin-block-end: 80px;
  }

  .posts-cards__title {
    line-height: 134%;
    max-inline-size: 136px;
  }
}

@media (width >= 1024px) {
  .posts-cards {
    margin-block-end: 59px;
  }

  .posts-cards__title {
    max-inline-size: 305px;
    padding-block-end: 19px;
  }

  .posts-cards__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    gap: 20px;
  }
}
/*section advice*/
.advice-layout {
  margin-block-end: 48px;
}

.advice-layout__header {
  margin-block-end: 19px;
}
.advice-layout__title {
  margin-block-end: 20px;
}

.advice-layout__post {
  margin-block-end: 20px;
}
@media (width >= 768px) {
  .advice-layout {
    display: grid;
    gap: 20px;
    grid-template-columns: 236px 1fr;
    margin-block-end: 58px;
  }
}
@media (width >= 1024px) {
  .advice-layout {
    grid-template-columns: 315px 1fr;
  }
}
/*section images*/
.images {
  margin-block-end: 52px;
}

.images__list {
  display: grid;
  gap: 10px;
  overflow: hidden;
}

.image__item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .images {
    margin-block-end: 79px;
  }
  .images__title {
    margin-block-end: 20px;
  }
  .images__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 20px;
    max-block-size: 780px;
  }
  .image__sunset {
    grid-column: 1/3;
  }
  .image__ice-cream {
    grid-row: 1/3;
    grid-column: 3/4;
  }
  .image__tape {
    grid-row: 2/4;
  }
  .image__books {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .image__street {
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .images__list {
    max-block-size: 1050px;
  }
}
/*footer*/

footer {
  block-size: 100vh;
  display: flex;
}

@media (width >= 768px) {
  .footer.decorated-zone::after {
    bottom: 40px;
  }
}
.footer__body {
  flex-grow: 1;
}
.footer__heading {
  text-align: center;
  margin-block-start: 276px;
  margin-block-end: 283px;
}
@media (width >= 768px) {
  .footer__heading {
    margin-inline: 161px;
    margin-block-start: 444px;
    margin-block-end: 471px;
  }
}
@media (width >= 1024px) {
  .footer__heading {
    margin-block-start: 298px;
  }
}
